.audio-player {
    padding: 20px;
    background-color: #FFEB3B; /* Yellow color */

border: 1px dotted;
  }
  .track-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #333; /* Or any color that fits your design */
    font-size: 16px; /* Adjust size as needed */
  }
  
  .controls button, .controls input[type=range] {
    margin-bottom: 10px;
  }
  span#totalDuration {position: absolute; right: 20px;}

  .controls button {
    background-color: #FFEB3B;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .progress-container {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0; /* Light gray for the background */
    margin: 10px 0;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #000; /* Yellow color for the progress */
    width: 0%; /* Initial width */
  }
  
  .controls input[type=range] {
    vertical-align: middle;
  }
  
  #playlist {
    list-style: none;
    padding: 0;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add other styles here as needed */
  }
  
  /* Ensure the controls container has enough space around it for a balanced look */
  .controls button {
    margin: 0 10px; /* Adds horizontal space between the buttons */
  }
  
  #playlist li {
    padding: 5px;
    cursor: pointer;
    margin-top: 2px;
    border-top: 1px dotted;
  }
  
  #playlist li.playing {
    background-color: #FBC02D; /* Darker yellow */
  }

.controls input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
  }
  
  .controls input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000; /* Match the button color */
    cursor: pointer;
  }
  
  .controls input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #000; /* Lighter yellow for the track */

  }

  /* Add to your existing styles */
#currentTime, #totalDuration {
    margin: 0 10px;
    color: #333; /* Adjust color to match your design */
  }
  
  