.audio-player {
    padding: 20px;
    background-color: #FFEB3B; /* Yellow color */

border: 1px dotted;
  }
  
  .controls button, .controls input[type=range] {
    margin-bottom: 10px;
  }
  
  .controls button {
    background-color: #FDD835; /* Slightly darker yellow */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .controls input[type=range] {
    vertical-align: middle;
  }
  
  #playlist {
    list-style: none;
    padding: 0;
  }
  
  #playlist li {
    padding: 5px;
    cursor: pointer;
    margin-top: 2px;
    border-top: 1px dotted;
  }
  
  #playlist li.playing {
    background-color: #FBC02D; /* Darker yellow */
  }

.controls input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
  }
  
  .controls input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FDD835; /* Match the button color */
    cursor: pointer;
  }
  
  .controls input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: #000; /* Lighter yellow for the track */
    border-radius: 5px;
  }
  