.audio-player {
    padding: 10px;
    background-color: #FFEB3B; /* Yellow color */
    width: 300px;
    border-radius: 5px;
  }
  
  .controls button {
    background-color: #FDD835; /* Slightly darker yellow */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .controls input[type=range] {
    vertical-align: middle;
  }
  